.mainP {
    color: #225f6e; /*hex, rgb, nazov, rgba(trasnaprentne), hsl, hsla*/
    font-family: Arial, Helvetica, sans-serif;/*fonty ktore su vybrate ako balik ak by niektore prehliadace nepodporovali urcite fonty*/
    font-size: 50px;
    font-weight: 700;/*hrubka pisma*/
    font-style: italic;
    text-align: right;
    text-decoration: underline;
    text-transform: lowercase;
    line-height: 90px;
    word-spacing: 50px;
    float: left;
}

.firstDiv {
    background-color: #76c3d6;
    margin: 100px 130px 0 130px; /*hore, na pravo, dole, na lavo*/
    /*padding: 200px 0 0 200px; funguje rovnako akurat sa rozsiruje blok z vnutra a nie oddaluje od strany*/
    width: 200px;
    height: 200px;
    float:left;
    border-color: #094352;
    border-style: solid;
    border-width: 20px; /*ohranicenie rozsiruje vysku a sirku*/
    cursor: crosshair; /*zmeni kurzor ked je nad blokom*/
}

.secondDiv {
    background-color: #76c3d6;
    margin: 100px 150px 0 150px; /*hore, na pravo, dole, na lavo*/
    /*padding: 200px 0 0 200px; funguje rovnako akurat sa rozsiruje blok z vnutra a nie oddaluje od strany*/
    width: 200px;
    height: 200px;
    display: none; /*display urcuje ako sa zobrazi a bude spravat blok a kontent v nom, none znamena ze sa nezobrazi vobec a nebude vidno ani ako blox v zdrojaku*/
    /*visibility: none; to iste akurat blok bude na stranke iba nebude vidno*/
}
