/*SEKCIA MAIN*/

main {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: var(--site-color-1); /*ak je v jednom z linknutych css suborov nastavena premenna, da sa pouzit aj v ostatnych suboroch*/
    margin-top: 80px;
    background-image: url(../img/hero_page.png), url(../img/pozadie.png); /*prvy je vzdy na vrchu*/
    background-size: contain, cover; /*ak je viac obrazkov nastavenych ako pozadie, da sa pisat dva parametre do jedneho riadku*/
    background-repeat: no-repeat;
    background-position: bottom, center;
}

.main-flex {
    display: flex;
    justify-content: center; /*horizontalne do stredu*/
    align-items: center; /*vertikalne do stredu*/
}

main .main-intro {
    position: relative;
    right: 100px;
    bottom: 50px;
    top: 80px;
    display: grid;
    row-gap: 20px;
}

main .main-intro h1{
    font-size: 6.5rem;
    line-height: 1.2;
    text-shadow: 5px 4px 4px #111;
}

main .main-intro a {
    display: block;
    background-color: var(--site-color-2);
    width: fit-content;
    padding: 7px;
    outline: 1px solid white;
    transition: background-color 0.15s ease-in-out;
}

main .main-intro a:hover {
    background-color: var(--site-color-3);
}

main .main-intro p {
    font-size: 1.8rem;
    line-height: 1.5;
    text-shadow: 2px 2px 2px #111;
}

main .main-quotes {
    display: grid; /*ma aj stlpce aj riadky*/
    row-gap: 30px;
    position: relative;
    left: 60px;
    bottom: 30px;
    width: 15vw;
}

main .main-quotes p {
    background-color: #00260a80;
    background-blend-mode: difference;
    width: 200px;
    font-style: italic;
    line-height: 1.75;
    padding: 7px;
    border-left: 4px solid white; /*border: width style color*/
    border-bottom: 4px solid white; /*border je z vnutra, outline je z vonka*/
}

main .main-quotes p:nth-child(2) {
    margin-left: 50px; /*child je hocijaky objekt v kontainery, toto  znamena ze kazde xte (podla zatvorky) sa bude spravat dane*/
}

/*SEKCIA CATEGORY*/

.index-category {
    width: 100%;
    padding: 60px 0 100px 0;
    background-color: white;
}

.index-category-flex {
    display: flex;
    justify-content: center;
    column-gap: 35px;
    flex-wrap: wrap;
}

.index-category-box {
    width: 250px;
    height: 200px;
    background-color: red;
    font-size: 3.2rem;
    font-family: "Ubuntu", sans-serif;
    color: white;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--site-color-1);
    transition: transform 0.2s ease;
    z-index: 0;
    position: relative;
}

.index-category-box:hover {
    transform: scale(1.1);
}

.index-category-box h2 {
    font-size: 2.8rem;
    font-family: "Ubuntu", sans-serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0px #00260a80; /*takto sa robi tie textu, xoffset yoffset blur farba*/
    position: relative;
    z-index: 200;
}

.index-category-box:nth-child(2) {
    background-image: url(../img/tricking.jpg);
    background-position: center;
}

.index-category-box:nth-child(3) {
    background-image: url(../img/bicie.jpg);
}

.index-category-box:nth-child(4) {
    background-image: url(../img/programovanie.png);
}

.index-category p {
    color: #111;
    text-align: center;
    font-weight: 400;
    font-size: 3.6rem;
    padding-bottom: 40px;
    flex-basis: 100%; /*flex basis je pociatocna velkost prvku predtym ako flexbox rozdeli miesto*/
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background-color: var(--site-color-1);
    opacity: 0.5;
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.index-category-box:hover .dark-overlay { /*da sa zmenit aj iny element ako ten na ktorom mam kurzor*/
    opacity: 0.1;
}

/*SEKCIA ABOUT ME*/

.index-about {
    background-color: var(--site-color-1);
    height: fit-content;
    padding: 40px;
}

.index-about-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.index-about-image {
    background-image: url(../img/fotka.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.index-about-text {
    display: flex;
    flex-direction: column; /*zobrazenie do stlpca s flexom*/
    row-gap: 20px;
}

.index-about-text h2 {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

.index-about-text p {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 100; 
}

.index-about-text a {
    border: 1px solid white;
    padding: 5px;
    background-color: var(--site-color-2);
    width: fit-content;
    transition: background-color 0.15s ease-in-out;
}

.index-about-text a:hover {
    background-color: var(--site-color-3);
}

.index-about-skill-bar {
    border: 3px solid white;
    width: 300px;
    height: 30px;
    margin: 7px;
}

.index-about-skill-bar-fill:nth-child(1) {
    background-color: var(--site-color-3);
    height: 100%;
}

.htmlcss {
    width: 50%;
}

.py {
    width: 70%;
}

.sql {
    width: 30%;
}

.tr {
    width: 80%;
}

.bc {
    width: 85%;
}

@media only screen and (max-width: 600px) {
    main .main-intro {
        right: 0;
        top: 20px;
        left: 20px;
    }

    main {
        background-size: 70vw, cover;
        height: calc(100vh - 160px);
    };

    .main-flex {
        flex-direction: column;
        align-items: normal;
    }

    main .main-intro h1{
        font-size: 4rem;
        padding-bottom: 20px;
    }

    main .main-quotes {
        display: none;
    }

    .index-category-box {
        margin-bottom: 20px;
    }

    .index-category {
        padding: 20px 0 0 0;
    }

    .index-about-image {
        display: none;
    }

    .index-about-skill-bar {
        width: 100%;
    }

    .index-about-flex {
        flex-direction: column;

    }

    .index-about-text {
        align-items: center;
        row-gap: 20px;
        margin-bottom: 20px;
    }

}


