/*PREMENNÉ FARIEB*/

:root {
   --site-color-1: #00260a;
   --site-color-2: #01541a;
   --site-color-3: #016b21;
   --menu-count: 4;
   font-size: 62.5%; /*lepšie je to nastaviť percentuálne pre prípad, že má niekto nastavené väčšie písmo*/
}

body {
    background-color: var(--site-color-1);
    overflow-x: hidden;
}

/*Wrapper na zarovnanie contentu po celej stránke*/

.wrapper-main{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

/*ZÁKLADNÉ NASTAVENIA PRVKOV*/

h1 {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 450;
    text-transform: uppercase;
}

p {
    font-size: 1.4rem;
    line-height: 1.75;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight:200;
}

a {
    cursor: pointer;
    font-size: 1.8rem;
    line-height: 1.5;
    color: white;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
}

/*SEKCIA HEADER*/

.mobile-menu-button {
        display: none;
        padding-right: 10px;
    }

.header-main {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #fff;
    padding: 0 30px 0 80px;
    z-index: 100;
}

.header-main-nav {
    display: flex;
    padding: 0 10px;
}

.header-main-logo {
    display: flex;
    width: fit-content;
    height: 60px;
    align-items: center;
    align-self: center;
    position: fixed;
    z-index: 200;
    top: 10px;
    left: 10px;
}

.header-main-logo img{
    height: 100%;
}

.header-main ul {
    height: 100%;
    display: flex;
    flex-grow: 1;
    list-style: none;
    align-self: center;
    margin-right: 80px;
}

.header-main ul li a {
    display: block;
    height: 100%;
    line-height: 80px;
    padding: 0 10px;
    color: #000;
    background-color: #fff;
    transition: color ease-in-out 150ms;
}

.header-main ul li a:hover {
    color: var(--site-color-3);
    background-color: #626362;
}

.header-main-sm {
    display: flex;
    align-self: center;
    height: 80px;
    margin-left: auto;
    column-gap: 20px;
    align-items: center;
}

.header-main-sm a {
    height: 100%;
    display: block;
    align-content: center;
    cursor: pointer;
}

.header-main-sm div {
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

#sm-fb {
    background-image: url(../img/facebook_black.png);
}

#sm-ig {
    background-image: url(../img/instagram_black.png);
}

#sm-fb:hover {
    background-image: url(../img/facebook.png);
}

#sm-ig:hover {
    background-image: url(../img/instagram.png);
}

/*FOOTER*/

.footer-main {
    width: 100%;
    padding-top: 60px;
    background-color: #191a19;
}

.footer-main-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-testemoni {
    display: flex;
    flex-basis: 20%;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-testemoni img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    outline: 2px solid white;
}

.footer-testemoni p {
    font-style: italic; 
    text-align: center;
    padding: 20px 0; 
}

.footer-main-getintouch { 
    text-align: center;
    padding: 5px 5px;
    border: 1px solid white;
    background-color: var(--site-color-2);
    margin-top: 50px;
    transition: background-color 0.15s ease-in-out;
}

.footer-main-getintouch:hover {
    background-color: var(--site-color-3);
}

.footer-site-map {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding: 50px 0;
}

.footer-site-map ul:nth-child(1), .footer-site-map ul:nth-child(2) {
    flex-basis: 200px;
    padding-left: 5px;
    border-left: 5px solid var(--site-color-2)
    /*viem targetovat aj viacero classov naraz, oddeluje sa ciarkou*/
}

.footer-site-map ul:nth-child(1) li, .footer-site-map ul:nth-child(2) li {
    transition: transform 0.15s ease-in-out
}

.footer-site-map ul:nth-child(1) li:hover, .footer-site-map ul:nth-child(2) li:hover {
    transform: scale(1.1);
}

.footer-site-map ul:nth-child(3) {
    flex-basis: 300px;
}

.footer-site-map ul:nth-child(3) p {
    font-size: 1.8rem;
    line-height: 1.5;
}

.footer-site-map ul:nth-child(4) {
    flex-grow: 1; /*dorastie do konca sirky kontajneru*/
}

.footer-site-map ul:nth-child(4) li {
    text-align: right;
    color: white;
    font-size: 1.6rem;
    line-height: 1.5;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight:200;
}

.footer-site-map-contact {
    text-transform: none;
    font-size: 1.8rem;
    line-height: 1.5;
}

.footer-site-map-contact:hover {
    color: var(--site-color-3);
}

/*RESPONSIVITA PRE OSTATNÉ ZARIADENIA*/

@media only screen and (max-width: 600px) {

    .wrapper-main {
        margin: 0;
    }

    .header-main {
        display: none;
        height: 100vh;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0;
    }

    .header-main-logo {
        height: 80px;
        position: absolute;
        padding: 10px;
        top: 0;
        left: 0;
        z-index: 300;
    }

    .header-main-nav {
        flex-direction: column;
        margin-top: 100px;
    }

    .header-main-nav ul {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .header-main-nav ul li a {
        font-size: 2.5rem;
    }

    .mobile-menu-button {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 80px;
        z-index: 200;
        background-color: #fff;
    }

    .header-main-sm {
        flex-direction: column;
        height: 150px;
        margin: 10px 0 0 0;
        row-gap: 30px;
    }

    .header-main-sm div {
        height: 60px;
        width: 60px;
    }

    .mobile-menu-button img {
        height: 60px;
        align-self: center;
    }

    .footer-main {
        padding: 20px 0 20px 0;
    }

    .footer-testemoni {
        display: none;
    }

    .footer-main-flex {
        justify-content: flex-start;
    }

    .footer-site-map {
        flex-direction: column;
        row-gap: 20px;
        padding: 0;
        justify-content: flex-start;
    }

    .footer-site-map a {
        font-size: 1.5rem;
    }

    .footer-site-map-contact {
        font-size: 1.5rem;
    }

    .footer-main-getintouch {
        display: none;
    }

    .footer-site-map ul:nth-child(1), .footer-site-map ul:nth-child(2) {
        flex-basis: auto;
        width: 100%;
    }

    .footer-site-map ul:nth-child(3) {
        flex-basis: 100px;
    }

    .footer-site-map ul:nth-child(4) li {
        text-align: left;
    }
}
