/*PREMENNÉ FARIEB*/

:root {
   --site-color-1: #00260a;
   --site-color-2: #01541a;
   --site-color-3: #016b21;
   font-size: 62.5%; /*lepšie je to nastaviťpercentuálne pre prípad, že má niekto nastavené väčšie písmo*/
}

body {
    background-color: var(--site-color-1);
}

/*PRELOAD OBRÁZKOV*/

body:after {
    content: url(../img/instagram.png)  url(../img/facebook.png);
    position: absolute;
    height: 0;
    width: 0;
    z-index: -1;
    overflow: hidden;
}

/*Wrapper na zarovnanie contentu po celej stránke*/

.wrapper-main{
    width: 1000px;
    margin: 0 auto;
}

/*ZÁKLADNÉ NASTAVENIA PRVKOV*/

h1 {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 450;
    text-transform: uppercase;
}

p {
    font-size: 1.4rem;
    line-height: 1.75;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight:200;
}

a {
    cursor: pointer;
    font-size: 1.8rem;
    line-height: 1.5;
    color: white;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
}

/*SEKCIA HEADER*/

.header-main {
    height: 80px;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}

.header-main-pfp {
    height: 100%;
    width: fit-content;
    display: flex;
    padding-left: 50px;
}

.header-main-pfp img {
    height: 80px;
}

.header-main-nav {
    height: 100%;
    width: fit-content;
    padding-left: 20px;
}

.header-main-nav ul{
    list-style: none; /*zabrani bulletpointom, odrazkam atd*/
}

.header-main-nav ul li{
    display: inline;
    float: left; /*pritlaci k sebe kontent aby som si urcil medzery ja*/
}

.header-main-nav ul li a{
    padding: 0 10px; /*rovnako ako 0 10px 0 10px*/
    font-family: "Ubuntu", sans-serif;
    line-height: 80px; /*vertikalne oddelenie, nastavi vysku v ktorej sa vycentruje kontent*/
    color: black;
    display: block; /*bude sa spravat ako block a nie text*/
    height: 100%; /*vyska rovnaka jak vyska hlavicky zaisti ze nemusim kliknut priamo na text aby som otvoril link*/
    transition: color 0.15s ease-in-out; /*transition sa pridava na base, nie na hover*/
}

.header-main-nav ul li a:hover{
    color: var(--site-color-3);
}

.header-main-sm {
    height: 100%;
    width: fit-content;
    padding: 0 30px;
    display: flex;
    align-items: center; /*vertikalny stred*/
    column-gap: 10px;
}

.header-main-sm-ig {
    background-image: url(../img/instagram_black.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-main-sm-fb {
    background-image: url(../img/facebook_black.png);
    width: 30px;
    height: 30px;
    background-size: cover; /*pokrytie celeho divka*/
    background-repeat: no-repeat;
}

.header-main-sm-fb:hover{
    background-image: url(../img/facebook.png);
}

.header-main-sm-ig:hover{
    background-image: url(../img/instagram.png);
}

/*FOOTER*/

.footer-main {
    width: 100%;
    padding: 60px 0 50px 0;
    background-color: #191a19;
}

.footer-main-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-testemoni {
    display: flex;
    flex-basis: 20%;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-testemoni img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    outline: 2px solid white;
}

.footer-testemoni p {
    font-style: italic; 
    text-align: center;
    padding: 20px 0; 
}

.footer-main-getintouch { 
    text-align: center;
    padding: 5px 5px;
    border: 1px solid white;
    background-color: var(--site-color-2);
    margin-top: 50px;
    transition: background-color 0.15s ease-in-out;
}

.footer-main-getintouch:hover {
    background-color: var(--site-color-3);
}

.footer-site-map {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding: 50px 0;
}

.footer-site-map ul:nth-child(1), .footer-site-map ul:nth-child(2) {
    flex-basis: 200px;
    padding-left: 5px;
    border-left: 5px solid var(--site-color-2)
    /*viem targetovat aj viacero classov naraz, oddeluje sa ciarkou*/
}

.footer-site-map ul:nth-child(1) li, .footer-site-map ul:nth-child(2) li {
    transition: transform 0.15s ease-in-out
}

.footer-site-map ul:nth-child(1) li:hover, .footer-site-map ul:nth-child(2) li:hover {
    transform: scale(1.1);
}

.footer-site-map ul:nth-child(3) {
    flex-basis: 300px;
}

.footer-site-map ul:nth-child(3) p {
    font-size: 1.8rem;
    line-height: 1.5;
}

.footer-site-map ul:nth-child(4) {
    flex-grow: 1; /*dorastie do konca sirky kontajneru*/
}

.footer-site-map ul:nth-child(4) li {
    text-align: right;
    color: white;
    font-size: 1.6rem;
    line-height: 1.5;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight:200;
}

.footer-site-map-contact {
    text-transform: none;
    font-size: 1.8rem;
    line-height: 1.5;
}

.footer-site-map-contact:hover {
    color: var(--site-color-3);
}

